/* Size of inputs */
.short {
    width: 15vh;
}

.medium {
    width: 35vh;
}

.long {
    width: 55vh;
}

.extraLong {
    width: 72vh;
}

/* Mobile */
@media (max-width: 993px) {

    .short {
        width: 10vh;
    }
    
    .medium {
        width: 20vh;
    }
    
    .long {
        width: 30vh;
    }
    
    .extraLong {
        width: 42vh;
    }        

}